@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">

    <div class="resizable-container">
        <h2 id="title"></h2>
        <h3> @ViewBag.Message</h3>



        <div class="container2">
            <div class="image">
                <img src="~/Content/bkgr.jpeg" width="300" height="400">
            </div>
            <div class="text">
                
                <p>
               
                    This story doesn't start with the classic "Once upon a time" but it all starts with  Diana.Who stumbled upon four vintage
                    Marvel comic books that caught her eye.Diana's love for comics led her to start selling them on the side, never imagining it
                    would turn into a business. As more and more people started buying from her, she realized there was a market for it. Eventually,
                    she decided to turn her passion into a full-time business and expanded her stores in her hometown. She decided to venture into
                    the cyberworld and created a website and marketed the comics through social media platforms. Her store sold out a few months after
                    creating this very website and became well known for catering to comic collectors around the world.
                

                </p>
            </div>
        </div>

       
    </div>
</main>
