@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <div class="btn">
        <p><h4>Welcome to Marvelous Comics</h4></p>
        <img src="~/Content/hme.jpeg" width="1250" height="450" />
    </div>
</main>